/* - - - - - - - - - - - - - - - - - - - - */
/* BODY */
/* - - - - - - - - - - - - - - - - - - - - */
body, html {
background: #F5F6F8;
color: #000000;
}



/* - - - - - - - - - - - - - - - - - - - - */
/* OUTER CONTENTBOX */
/* - - - - - - - - - - - - - - - - - - - - */
#inhalt {
background: #ffffff;
border: 1px solid #000000;
}

a.nav:link { color:#ffd800; }
a.nav:visited { color:#ffd800; }
a.nav:active { color:#ffd800; }
a.nav:hover { color:#ffd800; }
a.navhead:link { color:#ffd800; }
a.navhead:visited { color:#ffd800; }
a.navhead:active { color:#ffd800; }
a.navhead:hover { color:#ffe96f; }
a.tablefooter:link { color:#ffd800; }
a.tablefooter:visited { color:#ffd800; }
a.tablefooter:active { color:#ffd800; }
a.tablefooter:hover { color:#ffe96f; }
a.navheader:link { color:#ffd800; }
a.navheader:visited { color:#ffd800; }
a.navheader:active { color:#ffd800; }
a.navheader:hover { color:#ffd800; }

/* - - - - - - - - - - - - - - - - - - - - */
/* TABLE*/
/* - - - - - - - - - - - - - - - - - - - - */
#design {
width: 100%;
background: #ffffff;
}

#head {
background: #999999;
color: #ffffff;
background-image:url(../images/bg-black-gloss-5x75.jpg); 
}

#tnleft {
background: #ffffff;
color: #000000;
background-image:url(../images/bg-black-gloss-5x35.jpg); 
}
#tnright {
background: #ffffff;
color: #000000;
background-image:url(../images/bg-black-gloss-5x35.jpg); 
}

#printpreviewheader {
background: #cacaca;
color: #FFFFFF;
}

#menue {
background: #ffffff;
color: #000000;
}

.menuelinks a {
background: #414343;
color: #ffd800;
border: 1px solid #000000;
}
.menuelinks a:hover {
background: #797979;
color: #ffd800;
}

.menuelinks .aktuell {
background: #ffd800;
color: #414343;
border: 1px solid #000000;
}


.menuelinks .sidebarinfo {
background: #fafafa;
border: 1px solid #000000;
}

#content {
background: #ffffff;
color: #000000;
}


#footer {
background: #eaeaea;
color: #ffd800;
background-image:url(../images/bg-black-gloss-5x35.jpg); 
}

#sysinfo {
background: #f4f4f4;
color: #999999;
}

#table {
background: #dadada;
color: #ffffff;
}

table.zebra   		{ background-color: #000000; }          
table.zebra th 		{ background-color: #414343; color:#ffd800; }
table.zebra td.footer	{ background-color: #414343; color:#ffd800; }
table.zebra td		{ }
table.zebra tr.d0	{ background-color: #fff; }
table.zebra tr.d1	{ background-color: #f2f2f2; }

table.timetable   	{background-color: #000000; }          
table.timetable th 	{ background-color: #ffd800; }
table.timetable th.content 	{ background-color: #ffd800; background-image:url(../images/tablebg.gif); }
table.timetable td	{ }
table.timetable td.content	{ background-image:url(../images/tablebg.gif); }
table.timetable tr.d0	{ background-color: #fff; color: #dddddd;}
table.timetable tr.d1	{ background-color: #f2f2f2; color: #ffffff;}

table.login   		{ background-color: #eaeaea; }          
table.login th 		{ background-color: #eaeaea; }
table.login td		{ }
table.login tr		{ background-color: #fff; }

.button			{ color:#ffd800; background-color: #414343; background-image:url(../images/bg-black-gloss-5x35.jpg); }
.textfield		{ color:#ffd800; background-color: #414343; background-image:url(../images/bg-black-gloss-5x35.jpg); }
