/* - - - - - - - - - - - - - - - - - - - - */
/* BODY */
/* - - - - - - - - - - - - - - - - - - - - */
body, html {
background: #F5F6F8;
color: #000000;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* OUTER CONTENTBOX */
/* - - - - - - - - - - - - - - - - - - - - */
#inhalt {
background: #ffffff;
border: 1px solid #1f304e;
}

a.nav:link { color:#eaeff4; }
a.nav:visited { color:#eaeff4; }
a.nav:active { color:#cccccc; }
a.nav:hover { color:#555555; }
a.navhead:link { color:#eaeff4; }
a.navhead:visited { color:#eaeff4; }
a.navhead:active { color:#eaeff4; }
a.navhead:hover { color:#555555; }
a.tablefooter:link { color:#eaeff4; }
a.tablefooter:visited { color:#eaeff4; }
a.tablefooter:active { color:#eaeff4; }
a.tablefooter:hover { color:#555555; }
a.navheader:link { color:#FFFFFF; }
a.navheader:visited { color:#FFFFFF; }
a.navheader:active { color:#FFFFFF; }
a.navheader:hover { color:#FFFFFF; }

/* - - - - - - - - - - - - - - - - - - - - */
/* TABLE*/
/* - - - - - - - - - - - - - - - - - - - - */
#design {
background: #ffffff;
}

#head {
color: #ffffff;
background-image:url(../images/bg-horizon-5x75.jpg); 
}

#tnleft {
background: #ffffff;
color: #000000;
background-image:url(../images/bg-horizon-5x35.jpg); 
}

#tnright {
background: #ffffff;
color: #000000;
background-image:url(../images/bg-horizon-5x35.jpg); 
}

#printpreviewheader {
background: #cacaca;
color: #FFFFFF;
}

#menue {
background: #ffffff;
color: #000000;
}

.menuelinks a {
background: #3880af;
color: #eaeff4;
border: 1px solid #1f304e;
}
.menuelinks a:hover {
background: #bdd6e6;
color: #000000;
}

.menuelinks .aktuell {
background: #1f304e;
color: #eaeff4;
border: 1px solid #010101;
}


.menuelinks .sidebarinfo {
background: #fafafa;
border: 1px solid #1f304e;
}

#content {
background: #ffffff;
color: #000000;
}


#footer {
background: #eaeaea;
color: #eaeff4;
background-image:url(../images/bg-horizon-5x35.jpg); 
}

#sysinfo {
background: #f4f4f4;
color: #999999;
}

#table {
background: #dadada;
color: #ffffff;
}

table.zebra   		{ background-color: #1f304e; }          
table.zebra th 		{ background-color: #3880af; }
table.zebra td.footer	{ background-color: #3880af; }
table.zebra td		{ }
table.zebra tr.d0	{ background-color: #fff; }
table.zebra tr.d1	{ background-color: #f2f2f2; }

table.timetable   	{ background-color: #1f304e; }          
table.timetable th 	{ background-color: #3880af; }
table.timetable th.content 	{ background-color: #3880af; background-image:url(../images/tablebg.gif); }
table.timetable td	{ }
table.timetable td.content	{ background-image:url(../images/tablebg.gif); }
table.timetable tr.d0	{ background-color: #fff; color: #dddddd;}
table.timetable tr.d1	{ background-color: #f2f2f2; color: #ffffff;}

table.login   		{background-color: #eaeaea; }          
table.login th 		{ background-color: #eaeaea; }
table.login td		{ }
table.login tr		{ background-color: #fff; }

.button			{ background-color: #3880af; color: #eaeff4; background-image:url(../images/bg-horizon-5x35.jpg); }
.textfield		{ background-color: #3880af; color: #eaeff4; background-image:url(../images/bg-horizon-5x35.jpg); }
